<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>leaguespartan_black</string>
		<string>leaguespartan_bold</string>
		<string>leaguespartan_extrabold</string>
		<string>leaguespartan_extralight</string>
		<string>leaguespartan_light</string>
		<string>leaguespartan_medium</string>
		<string>leaguespartan_regular</string>
		<string>leaguespartan_semibold</string>
		<string>leaguespartan_thin</string>
	</array>
</dict>
</plist>
